@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Shadows+Into+Light&display=swap');

/*
font-famyli:"Pooppins", sans-serif;
font-family:"Shadows Into Light", cursive;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FEFFF9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    position: relative;
    float: left;
}
.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #030301;
    display: block;
    font-weight: 600;
    margin-bottom: 80px;
}
.navbar ul li a:hover{
    background-color: #fcbe36;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt h1 {
    font-family: "Shadows Into Light", cursive;
    color: #030301;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 35px;
}

.header-txt p{
    font-size: 16px;
    color: #5b5b5a;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #fcbe36;
    color: #030301;
    font-size: 16px;
    text-transform: capitalize;
}

.btn-1:hover{
    background-color: #b3831d;
}

.header-content{
    display: flex;
    margin-bottom:  -180px;
}

.header-txt{
    width: 50%;
}
.header-vid{
    width: 50%;
    text-align: right;
}

.header-vid video{
    width: 600px;
    border-radius: 5%;
}

.ofert{
    background-image: url(images/up.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

.ofert h2{
    font-size: 50px;
    color: #030301;
    font-family: "Shadows Into Light", cursive;
    margin: 80px 0 40px 0;
}

.ofert-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.ofert-1 img{
    width: 280px;
}

.ofert-1 h3{
    font-family: "Shadows Into Light", cursive;
    color: #030301;
    font-size: 35px;
    margin-bottom: 10px;
}

.ofert-1 p{
    font-size: 16px;
    color: #5b5b5a;
}

.ingredient{
    margin-top: -5px;
    padding: 50px 0;
    background-color: #f4f5ef;
    text-align: center;
}
.ingredient h2{
    font-size: 50px;
    color: #030301;
    font-family: "Shadows Into Light", cursive;
    margin-bottom: 50px;
}

.ingredient-1{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.ingredient-info{
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 35px;
}

.ingredient-txt{
    width: 50%;

}

.ingredient-in{
    margin-left: 20px;
}

.ingredient-in h3{
    font-family: "Shadows Into Light", cursive;
    color: #030301;
    font-size: 30px;
    text-transform: capitalize;
}

.ingredient-in p{
    color: #5b5b5a;
    font-size: 16px;
}
.ingredient-img{
    width: 50%;
}

.ingredient-img img{
    width: 500px;
}

.bg-ingredient{
    background-image: url(images/bottom.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.menu-pan{
    padding: 50px 0;
    text-align: center;
}
.menu-pan h2{
    font-size: 50px;
    color: #030301;
    font-family: "Shadows Into Light", cursive;
    margin-bottom: 50px;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
}

.menu-1 img{
    width: 250px;
}

.manu-1 h3{
    font-size: 40px;
    color: #030301;
    font-family: "Shadows Into Light", cursive;
    margin-bottom: 50px;
}

.menu-1 p{
    font-size: 16px;
    color: #5b5b5a;
    margin-bottom: 50px;
}


.geo{
    padding: 100px 0;
    display: flex;
}

.geo-1, .geo-2{
    width: 50%;
}
.geo-1 h2{
    font-size: 50px;
    color: #030301;
    font-family: "Shadows Into Light", cursive;
    margin-bottom: 50px;
}

.geo-1 p{
    font-size: 16px;
    color: #5b5b5a;
    margin-bottom: 50px;
}

.map{
    width: 600px;
    height: 450px;
    border-radius: 15px;
}

.foother{
    padding: 50px 0;
    background-color: #282828;

}

.foother-content{
    display: flex;
    justify-content: space-between;
}
.link h3{

    color: #C3C3C3;
    font-size: 17px;
    margin-bottom: 10px;
}
.link a {
    color: #adadad;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #fcbe36;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }


    .menu .navbar ul li {
        width: 100%;
    }
    .menu .navbar ul li a{
        color: #FEFFF9;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }


    .header{
        min-height: 0vh
    }

    .header-content{
        flex-direction: column;
        padding: 100px 30px 50px 30px;
        text-align: center;
    }


    .header-txt{
        width: 100%;
        margin-bottom: 35px;
    }
    .header-txt h1{
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 25px;
    }
    .header-vid{
        width: 100%;
    }

    .header-vid video{
        width: 100%;
    }

    .ofert{
        padding: 30px;
        background-color: #f4f5ef;
    }
    .ofert h2{
        margin: 0;
    }

    .ofert-content{
        flex-direction: column;
        margin-bottom: 15px;
    }

    .ofert-1{
        padding: 0 25px;
        margin-bottom: 25px;
        
    }

    .ingredient{
        padding: 30px;
    }
    .ingredient-1{
        flex-direction: column;
    }
    .ingredient-txt{
        width: 100%;
    }
    .ingredient-in{
        margin: 40px;
    }

    .ingredient-img{
        width: 100%;
        order: 2;
    }
    .ingredient-img img{
        width: 100%;
    }
    .bg-ingredient{
        display: none;
    }

    .menu-pan{
        padding: 30px;
    }
    .menu-pan h2{
        margin-bottom: 10px;

    }
    .menu-content{
        grid-template-columns: repeat(1,1fr);
    }
    .menu-1 img{
        width: 70%;
    }

    .geo{
        padding: 0 30px 30px 30px;
        flex-direction: column;
        text-align: center;
    }
    .geo-1, .geo-2{
        width: 100%;
    }
    .map{
        width: 300px;
        height: 350px;
    }
    .foother{
        padding: 30px;
    }
    .foother-content{
        flex-direction: column;
        text-align: center;
    }
}


